{% extends 'base.html' %}

{% block title %}Straipsniai{% endblock %}

{% block content %}
<div class="container-fluid">
    <h2>Sveiki atvykę!</h2>
    <ul>
        <li><p>Parduotuvėje turime viso: {{ products }} produktų</p></li>
        <li><p>Parduotuvėje turime viso: {{ products }} produktų</p></li>
        <li><p>Parduotuvėje turime viso: {{ products }} produktų</p></li>
        <li><p>Parduotuvėje turime viso: {{ products }} produktų</p></li>
        <li><p>Parduotuvėje turime viso: {{ products }} produktų</p></li>
        <li><p>Parduotuvėje turime viso: {{ products }} produktų</p></li>
    </ul>
</div>
{% endblock %}





