{% if is_paginated %}
<ul class="pagination pagination-sm justify-content-center mt-5">
<!--    <li><a class="rounded border-dark-subtle page-link text-dark text-center" href="?page=1">&laquo; Pirmas</a></li>-->
    {% if page_obj.has_previous %}
    <li class="me-2 page-item" style="width:50px;">
        <a class="rounded border-dark-subtle page-link text-dark text-center" href="?page={{ page_obj.previous_page_number }}" style="text-decoration: none;">&lt;</a>
    </li>
    {% else %}
    <li class="me-2 page-item disabled" style="width:50px;">
        <span class="rounded border-dark-subtle page-link text-dark text-center">&lt;</span>
    </li>
    {% endif %}

    {% for num in paginator.page_range %}
    {% if page_obj.number == num %}
    <li class="me-2 page-item active" style="width:30px;">
        <span class="rounded border-dark-subtle page-link text-dark text-center bg-success bg-opacity-50">{{ num }}</span>
    </li>
    {% else %}
    <li class="me-2 page-item" style="width:30px;">
        <a class="rounded border-dark-subtle page-link text-dark text-center" href="?page={{ num }}" style="text-decoration: none;">{{ num }}</a>
    </li>
    {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item" style="width:50px;">
        <a class="rounded border-dark-subtle page-link text-dark text-center" href="?page={{ page_obj.next_page_number }}" style="text-decoration: none;">&gt;</a>
    </li>
    {% else %}
    <li class="page-item disabled" style="width:50px;">
        <span class="rounded border-dark-subtle page-link text-dark text-center">&gt;</span>
    </li>
    {% endif %}
<!--    <li><a class="rounded border-dark-subtle page-link text-dark text-center" href="?page={{ page_obj.paginator.num_pages }}">Paskutinis &raquo;</a></li>-->
</ul>
{% endif %}