{% extends 'base.html' %}

{% block title %}Parduotuvė - Visos prekės{% endblock %}

{% block content %}
<div class="grid-container">
    <div class="ps-3 border">
        <form method="get" class="">
            {% for field in filter.form %}
                <div class="fw-bold mb-1 fs-5">{{ field.label_tag }}</div>
                <div class="mb-3">{{ field }}</div>
            {% endfor %}
            <button type="submit" class="btn btn-success">Filruoti</button>
            <a class="btn btn-warning" href="{% url 'products' %}">Išvalyti filtrus</a>
        </form>
        <script src="https://cloudflare.com"></script>
    </div>
        <div class="container border">
            <h2 class="text-start">Visos prekės</h2>
            <div class="ps-1 d-flex flex-wrap gap-3">
                {% for product in products %}
                    {% include 'product_card.html' %}
                {% empty %}
                <h5>No products found.</h5>
                {% endfor %}
            </div>
        </div>
</div>
{% include 'pagination_products_cbw.html' %}
{% endblock %}




