{% extends 'base.html' %}

{% block title %}Paieška{% endblock %}

{% block content %}

<div class="container mb-2">
    {% if not query %}
    <h2 class="text-start mb-2" >Visos prekės</h2>
    {% elif produktu > 0 and query %}
    <h2 class="text-start mb-2" >Paieškos rezultatai: ieškota <span class="fw-bold">"{{ query }}"</span>, rasta prekių ({{ produktu }})</h2>
    {% endif %}
</div>
<div class="container ps-1 d-flex flex-wrap gap-3">
    {% for product in products %}
        {% include 'product_card.html' %}
    {% empty %}
        <div class="alert alert-danger w-100">
            <h4>Nerasta prekių pagal raktažodį <span class="fw-bold">"{{ query }}"</span> , patikslinkite paieškos kriterijus</h4>
        </div>
    {% endfor %}
</div>
{% include 'pagination_search_fbw.html' %}
{% endblock %}





